#Simple way to include all the various klicky macros and configurations
# the current home for this configuration is https://github.com/jlas1/Klicky-Probe, please check it

#[include ./KLICKY/klicky-specific.cfg]                #place to put other configurations specific to your printer
[include ./KLICKY/klicky-variables.cfg]                #Required
[include ./KLICKY/klicky-macros.cfg]                   #Required
[include ./KLICKY/klicky-bed-mesh-calibrate.cfg]       #bed mesh, requires klipper configuration
#[include ./KLICKY/klicky-screws-tilt-calculate.cfg]   #help adjust bed screws automatically
[include ./KLICKY/klicky-quad-gantry-level.cfg]        #level 4 Z motors
#[include ./KLICKY/klicky-z-tilt-adjust.cfg]           #level 2 or 3 Z motors
##[include ./KLICKY/klicky-z-calibration.cfg]            #automatic z calibration